/* Carousel needs at least two slides! */

.carousel-wrapper {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    align-items: center;
    position: relative;

    scrollbar-color: rgb(116, 116, 116) rgb(34, 34, 34);
}

/*******************/
/* Carousel slides */
/*******************/
.carousel-container {
    box-sizing: border-box;
    display: flex;
    gap: 2%;
    
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    touch-action: none;
}
.carousel {
    aspect-ratio: 16/9;
    
    list-style-type: none;
    align-self: center;
    
    flex: 0 0 100%;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}
.carousel-item {
    position: relative;
    height: 100%;
    justify-self: center;
    align-content: center;
}
    .carousel.selected .carousel-item {
        margin: 0px;
    }
.carousel-item img {
    display: grid;
    object-fit: fill;

    height: 100%;
    width: 100%;

    z-index: 0;
}

/**********************/
/* Buttons left right */
/**********************/
.carousel-buttons-container {
    width: 100%;
    height: 80%;

    display: flex;
    position: absolute;
    align-items: center;
    z-index: 3;
}
.carousel-button-filler {
    width: 100%;
}
.carousel-left-button, .carousel-right-button {
    height: 4rem;
    width: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    pointer-events: auto;
    transition: display 1s allow-discrete;

    background-color: rgba(116, 116, 116, 0.33);
    border-radius: 0.2rem;
    
    fill: darkgrey;
}
.carousel-left-button:hover, .carousel-right-button:hover {
    fill: azure;
    background-color: rgba(116, 116, 116, 0.536);
}
.carousel-wrapper:hover .carousel-left-button, .carousel-wrapper:hover .carousel-right-button {
    display: flex;
}
.carousel-left-button > svg, .carousel-right-button > svg {
    height: 2rem;
    width: 2rem;
}

/********************/
/* Bottom selectors */
/********************/
.carousel-item-selector-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;

    gap: 0.1rem;

    background-color: rgb(34, 34, 34);
}
.carousel-item-selector-button {
    width: 22.5px;
    height: 7.5px;
    margin: 3px 1px 0px; 
    background-color: rgb(116, 116, 116);
    border-radius: 5px;
    z-index: 3;
}
.carousel-item-selector-button:hover, .carousel-item-selector-button.selected{
    background-color: darkgrey;
    cursor: pointer;
}


.carousel-item-selector-container.preview {
    overflow-x: auto;
    justify-content: start;
}
.carousel-item-selector-button-preview {
    box-sizing: border-box;
    aspect-ratio: 16/9;

    height: 4rem;
    border: 1px solid rgba(0,0,0,0);
    
    background-color: rgb(116, 116, 116);
    z-index: 3;
}
.carousel-item-selector-button-preview:hover, .carousel-item-selector-button-preview.selected {
    background-color: darkgrey;
    border: 1px solid azure;
    cursor: pointer;
}
.carousel-item-selector-button-preview img {
    box-sizing: border-box;
    aspect-ratio: 16/9;

    display: grid;
    object-fit: contain;

    height: 100%;
    width: 100%;

    z-index: 0;
}